<div class="container-fluid  mb-6 subemail">
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
        <form>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="text" class="form-control">
            <button class="btn btn-info btn-lg">Subscribe</button>
          </div>
        </form>
    </div>
    <div class="col-md-2">
      
      </div>
</div>
</div>
<div class="footer-bar">
  <h4>&copy; All copy rights reservied</h4>
</div>
