<div class="jumbotron">
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
            <h4>About our organisations</h4>
              <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
      
              <p> Visit our corporate site to explore news, information for investors and analysts, career resources, SAP’s history, and more</p>
          </div>
          <div class="col-md-6">
              <h4>About our service</h4>
                <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
        
                <p> Visit our corporate site to explore news, information for investors and analysts, career resources, SAP’s history, and more</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <h4>About our Product</h4>
                <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
        
                <p> Visit our corporate site to explore news, information for investors and analysts, career resources, SAP’s history, and more</p>
            </div>
            <div class="col-md-6">
                <h4>About our support</h4>
                  <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
          
                  <p> Visit our corporate site to explore news, information for investors and analysts, career resources, SAP’s history, and more</p>
              </div>
          </div>
      </div>
</div>