<div class="container-fluid msg">
      <div class="row msg1">
      <div class="col-md-6">
        <div class="container">
          <h1>Support</h1>
          <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
        </div>
        <div class="container">
            <h1>Advance</h1>
            <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
          </div><div class="container">
              <h1>pig me if you not</h1>
              <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
            </div>
   </div>
   <div class="col-md-6">
      <div class="container">
        <h1>Safty</h1>
        <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
      </div>
      <div class="container">
          <h1>Production</h1>
          <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
        </div>
        <div class="container">
            <h1>Maintanancet</h1>
            <p>SAP is at the centre of today’s technology revolution. The market leader in enterprise application software, SAP helps organisations fight the damaging effects of complexity, generate new opportunities for innovation and growth, and stay ahead of the competition.</p>
          </div>
 </div>
  </div>
 </div>