<div class="jumbotron">
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" >services List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="servicelist">List of new Parts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Customer Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Service support</a>
    </li>
  </ul>
  <div class="container-fluid">
      <table class="table">
          <thead>
            <tr>
              <th>Softwaare</th>
              <th>Date of Purches</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>windows Xp</td>
              <td>jan-15-2010</td>
              <td>15000</td>
            </tr>
            <tr>
                <td>windows Xp</td>
                <td>jan-15-2010</td>
                <td>15000</td>
              </tr>
              <tr>
                  <td>windows Xp</td>
                  <td>jan-15-2010</td>
                  <td>15000</td>
                </tr>
                <tr>
                    <td>windows Xp</td>
                    <td>jan-15-2010</td>
                    <td>15000</td>
                  </tr>
                  <tr>
                      <td>windows Xp</td>
                      <td>jan-15-2010</td>
                      <td>15000</td>
                    </tr>
                    <tr>
                        <td>windows Xp</td>
                        <td>jan-15-2010</td>
                        <td>15000</td>
                      </tr>
          </tbody>
        </table>
  </div>
</div>